body{
    overflow-y: scroll;
}
/*=== authorization form ===*/
.login_wrp{
    width: 100%;
    min-height: 100%;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    background: #BB6D9C;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    /*background: -webkit-linear-gradient(303deg, #bb6d9c, #9262a0);*/
    /*background: -o-linear-gradient(303deg, #bb6d9c, #9262a0);*/
    /*background: -moz-linear-gradient(303deg, #bb6d9c, #9262a0);*/
    /*background: linear-gradient(303deg, #bb6d9c, #9262a0);*/
    /*background-size: 400% 400%;*/

    /*-webkit-animation: GradientAnimation 8s ease infinite;*/
    /*-o-animation: GradientAnimation 8s ease infinite;*/
    /*-moz-animation: GradientAnimation 8s ease infinite;*/
    /*animation: GradientAnimation 8s ease infinite;*/
}
@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-o-keyframes GradientAnimation {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@keyframes GradientAnimation {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}

::-webkit-input-placeholder {color:#734563}
::-moz-placeholder          {color:#734563}
:-moz-placeholder           {color:#734563}/* Firefox 18- */
:-ms-input-placeholder      {color:#734563}

.login_wrp .login_intro{
    width: 100%;
    height: 30px;
    margin: 0 0 20px 0;
    position: relative;
    text-align: right;
    line-height: 30px;
}
.login_wrp .login_intro > span{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    color: #F0F0F0;
}
.login_wrp .login_intro > span:after{
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(to right, transparent, #BB6D9C);
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
}
ul.in_social_list{
    float: left;
    margin: 0 0 0 0 !important;
    padding: 0;
}
ul.in_social_list > li{
    width: 30px;
    border: #CC78AB solid 1px;
    margin: 0 10px 0 0;
    float: left;
    list-style-type: none;
    text-align: center;
}
ul.in_social_list > li a{
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    color: #F0F0F0;
    text-decoration: none;
    font-size: 17px;
    vertical-align: middle;
}
ul.in_social_list > li:hover{border: #FFF solid 1px}
ul.in_social_list > li:hover > a{color: #FFF}

.login_wrp > .inner{
    max-width: 330px;
    min-height: 250px;
    margin: 180px auto;
}
.login_wrp .field_wrp{
    min-height: 55px;
    padding: 2px 0;
    margin: 10px 0;
    position: relative;
    border-bottom: #CC78AB solid 1px;
}
.login_wrp .field_wrp label.required{
    font-size: 13px;
    color: #DE9CC4;
}
.login_wrp .field_wrp input{
    width: 94%;
    height: 22px;
    padding: 5px 0 10px 3%;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 22px;
    background: transparent;
}
.login_wrp .field_wrp .line{
    width: 0;
    height: 1px;
    position: relative;
    background: #FEC9E6;
    margin: 0 auto;
    bottom: -3px;

-webkit-transition: width 0.15s ease-in-out;
-moz-transition: width 0.15s ease-in-out;
-ms-transition: width 0.15s ease-in-out;
-o-transition: width 0.15s ease-in-out;
transition: width 0.15s ease-in-out;
}
.login_wrp .field_wrp input:focus + .line{width: 100%}

.login_wrp .field_wrp > .view_password{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2px;
    top: 26px;
    cursor: pointer;
}
.login_wrp .field_wrp > .view_password:hover{

}
.login_wrp .field_wrp > .view_password > .point{
    width: 16px;
    height: 16px;
    position: relative;
    border: transparent solid 2px;
    opacity: 0.5;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.login_wrp .field_wrp > .view_password > .point:hover{
    border: #824E6D solid 2px;
}
.login_wrp .field_wrp > .view_password > .point:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #824E6D;
    position: absolute;
    top: 3px;
    left: 3px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.login_wrp .field_wrp > .show_password > .point{
    opacity: 1;
    border: #824E6D solid 2px;
}
.login_wrp .field_wrp ul{
    width: 100%;
    padding: 0;
    margin: 0;
    top: 3px;
    position: absolute;
}
.login_wrp .field_wrp ul > li{
    list-style: none;
    width: 100%;
    text-align: right;
    color: #5F3951;
    font-size: 14px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset  0 0 0 0 #FFF, /* Внутренняя тень */
    inset 0 0 0 50px #BB6D9C, /* Цвет фона */
    0 1px #BB6D9C !important; /* Наружная тень */
    -webkit-text-fill-color: #FFF !important;
}
.login_wrp .more_links{
    margin: 15px 0 0;
    padding: 7px;
    border: transparent solid 2px;
    font-size: 15px;
    color: #5F3951;

    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -ms-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.login_wrp .more_links:after{
    content: '';
    display: block;
    clear: both;
}
.login_wrp .more_links > .forgot_link_wrp{float: left}
.login_wrp .more_links > .register_link_wrp{float: right}

.login_wrp .more_links > .forgot_link_wrp > a.forgot_pass{
    color: #5F3951;
    text-decoration: none;
}
.login_wrp .more_links > .register_link_wrp > a.register_link{
    color: #5F3951;
    text-decoration: none;
}
.login_wrp .more_links a.forgot_pass:hover{text-decoration: underline}
.login_wrp .more_links a.register_link:hover{text-decoration: underline}

.login_wrp .other_link_wrp{
    font-size: 15px;
}
.login_wrp .other_link_wrp > a{
    color: #5F3951;
    text-decoration: none;
}
.login_wrp .other_link_wrp > a:hover{text-decoration: underline}

.login_wrp label.checkbox{
    height: 18px;
    display: inline-block;
    line-height: 15px;
}
.login_wrp label.checkbox > input[type='checkbox']{display: none}

.login_wrp label.checkbox span.box_wrapper{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 2px 0 0;
    cursor: pointer;
    border: #7C4A6A solid 2px;
    opacity: 0.5;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.login_wrp label.checkbox span.cover{
    width: 0;
    height: 13px;
    margin: 0 0 0 2px;
    display: inline-block;
    line-height: 12px;
    overflow: hidden;

    -webkit-transition: width 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out;
    -ms-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
}
.login_wrp label.checkbox span.cover > img{
    vertical-align: middle;
}
.login_wrp label.checkbox span.key{
    cursor: pointer;
    color: #5F3951;
    font-size: 13px;
    vertical-align: middle;

    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.login_wrp label.checkbox > input[type='checkbox']:checked + span.box_wrapper > span.cover{width: 11px}
.login_wrp label.checkbox:hover span.box_wrapper{opacity: 0.8}
.login_wrp label.checkbox > input[type='checkbox']:checked + span.box_wrapper{opacity: 1}

.login_wrp label.checkbox span.terms_of_use{
    color: #DECED8;
}
.login_wrp label.checkbox span.terms_of_use:hover{
    text-decoration: underline;
}

.login_wrp .login_btn{
    width: 100%;
    height: 45px;
    display: block;
    margin: 25px 0 20px;
    border: none;
    background: #824E6D;
    color: #E7E7E7;
    font-size: 16px;
    outline: none;
    cursor: pointer;

    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.login_wrp .login_btn:hover{background: #905779}
.login_wrp .login_btn:active{
    background: #7B4A68;
    color: #FFF;
}

/*=== login footer ===*/
.login_wrp > .login_footer{
    width: 100%;
    position: absolute;
    bottom: 25px;
    text-align: center;
}
.login_wrp > .login_footer > span.copyright{
    font-size: 14px;
    display: inline-block;
    position: relative;
    color: #DEB0CC;
}
.login_wrp > .login_footer > span.copyright:after{
    content: '';
    height: 15px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -5px;
    background: linear-gradient(to bottom, transparent, #BB6D9C);
}
.login_wrp .login_check_wrp{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 25px;
    opacity: 0.7;
}
.login_wrp .login_check_wrp > .cover{
    width: 0;
    overflow: hidden;

    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -ms-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}
.login_wrp .login_check_wrp > .cover img{

}


















































