{% extends 'login/layout.html.twig' %}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{% block fos_user_content %}
    {#{% if parametersArray.error %}#}
        {#<div>{{ parametersArray.error.messageKey|trans(parametersArray.error.messageData, 'security') }}</div>#}
    {#{% endif %}#}

    <div class="login_wrp">
        <div class="inner">

            <div class="login_intro">
                <ul class="in_social_list">
                    <li><a href="http://stroyka.local/connect/facebook" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="" target="_blank" class="fa fa-vk"></a></li>
                    <li><a href="" target="_blank" class="fa fa-google"></a></li>
                </ul>
                <span>ВОЙТИ</span>
            </div>
            <form action="{{ path('login_post') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="field_wrp">
                    <label for="username" class="required">{{ 'security.login.username'|trans }}</label>
                    <input type="email" id="username" name="_username" value="" required="required" placeholder="{{ 'security.login.username'|trans }}">
                    {#<input type="email" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}">#}
                    <div class="line"></div>
                </div>
                <div class="field_wrp">

                    {#<label for="password" class="required">{{ 'security.login.password'|trans }}</label>#}
                    <label for="password" class="required">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" placeholder="Пароль">
                    <div class="line"></div>
                    <div class="view_password" onclick="lgn.viewPass(this)">
                        <div class="point"></div>
                    </div>
                </div>
                <div class="more_links">
                    <div class="forgot_link_wrp">
                        <a href="/resetting/request" class="forgot_pass">Забыли пароль?</a>
                    </div>
                    <div class="register_link_wrp">
                        <a href="/registration" class="register_link">Регистрация</a>
                    </div>
                </div>

                <input type="submit" id="_submit" name="_submit" class="login_btn" value="{{ 'security.login.submit'|trans }}">

                <div class="other_link_wrp">
                    <label for="remember_me" class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked value="on" />
                        <span class="box_wrapper">
                            <span class="cover"><img src="/img/checkbox_dark_pink.gif"></span>
                        </span>
                        <span class="key">Не выходить из системы</span>
                    </label>
                </div>
            </form>

        </div>

        <div class="login_footer">
            <span class="copyright">Copyright © 2016 - {{ "now"|date("Y") }} skylamb.net</span>
        </div>
    </div>

{% endblock fos_user_content %}
